<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>
<body>
    <h1>TODO Application</h1>

    <form action="/create" method="post" class="todo_create">
        <div class="todo_description">
            <label for="description">Task Description: </label>
            <input type="text" name="description" id="description" required>
        </div>

        <div class="todo_submit">
            <input type="submit" value="Submit!">
        </div>
    </form>
</body>
</html>
